#mapOne text {
  fill: white;
}
#mapOne ._u5cITtZnGk9D_6uoElx .jvectormap-zoomin {
  top: 92% !important;
  left: 90% !important;
  padding: 6px !important;
  border: 1px solid rgb(218, 218, 218);
  outline: none;
  background: white !important;
  color: gray !important;
  font-size: 1.5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px !important;
  height: 16px !important;
}
#mapOne ._u5cITtZnGk9D_6uoElx .jvectormap-zoomout {
  top: 92% !important;
  left: 95% !important;
  padding: 6px !important;
  border: 1px solid rgb(218, 218, 218);
  outline: none;
  background: white !important;
  color: gray !important;
  font-size: 1.5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px !important;
  height: 16px !important;
}
@media screen and (max-width: 768px) {
  .map-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
    position: relative;
  }

  .map-container .jvectormap-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  ._u5cITtZnGk9D_6uoElx .jvectormap-zoomin {
    top: 85% !important;
    left: 70% !important;
  }
  ._u5cITtZnGk9D_6uoElx .jvectormap-zoomout {
    top: 85% !important;
    left: 87% !important;
  }
}
